<!-- <footer class="footer">  
       <div class="container">
           <div class="footer_policy">
               <p>
                    AskHow © Copyright 2021. All Rights Reserved.
               </p>
               <div class="policy_link">
                   <a href="#">
                       Privacy Policy
                   </a>
                   <a href="#">
                       Terms of Service
                   </a>
               </div>
           </div>
       </div> 
</footer> -->

<footer class="footer">
	<!-- <div class="bg__image">
		<picture>
			<source srcset="img/bg-footer.webp" type="image/webp">
			<img src="img/bg-footer.jpg" alt="alt">
		</picture>
	</div> -->
	<div class="container ">
		<div class="footer__top">
			<div class="footer__nav">
				@@include('logo-footer.html')
				<ul class="footer__social">
					<li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
					<li><a href="#"><img src="img/youtube.svg" alt=""></a></li>
          <li><a href="#"><img src="img/linkedin.svg" alt=""></a></li>
					<li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
				
				</ul>
			</div>			
            <div class="footer__nav">
                <h4>Get started</h4>
                <ul>
                    <li><a href="#">Start Free Trial</a></li>
                    <li><a href="#">Get Instant Freight Quotes</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Free Freight Tools</a></li>
                    <li><a href="#">WebCargo for Forwarders / Carriers</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <h4>Freightos</h4>
                <ul>
                    <li><a href="tel:+18772228727">+1 877 222 8727</a></li>
                    <li><a href="tel:+442038722358">+44 20 3872 2358</a></li>
                    <li><a href="tel:+85236786793">+852 3678 6793</a></li>
                    <li><a href="mailto:fbx@freightos.com">fbx@freightos.com</a></li>
                    <li><a href="#">Media Query</a></li>
                </ul>
            </div>	
            <div class="footer__nav">
                <h4>Stay In Touch</h4>                
                <p>Want to stay posted on how Freightos is changing logistics? Leave your email below:</p>
                <form class="input__group">
                    <input type="email" placeholder="Email">
                    <button class="btn btn-secondary add-to-email" type="submit">Add me to list</button>
                </form> 
            </div>        
		</div>
		<div class="footer__bottom">
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Freightos Data License Agreement</a></li>
                <li><a href="#">FBX Disclaimer</a></li>
                <li><a href="#">FAX Disclaimer</a></li>
                <li><a href="#">Copyright & IP Policy</a></li>
            </ul>
            <p>Copyright 2012–2022 Freightos Ltd</p>		
			
		</div>
	</div>	
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="js/gsap.min.js"></script>
<script src="js/MotionPathPlugin.min.js"></script>
<script src="js/custom-select.min.js"></script>
<script src="js/app.min.js"></script>


