<header class="header">
    <div class="container-header">        
        <div class="header__inner">
            <div class="header__inner-wrap">
                @@include('logo.html')                                       
                <nav class="nav">
                    <ul class="js-current-page-list">
                        <li class="dropdown js-dropdown">
                          <a href="product-template.html">Products</a>
                          <div class="dropdown-item biggest">
                            <div class="back js-back">
                              Back
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Freightos Air Index</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Freightos Baltic Index</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Market Intelligence</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Global Event Insight</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="dropdown js-dropdown">
                          <a href="use-case.html">Use Cases</a>
                          <div class="dropdown-item biggest">
                            <div class="back js-back">
                              Back
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Rate Benchmarking</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Market Intelligence</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Freight Rate Hedging</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Proactive freight decision-making</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Index Linking</a>
                              <p>
                                I’m a tiny description about what the FAX actually is
                              </p>
                            </div>
                          </div>
                        </li>
                        <li class="dropdown js-dropdown">
                          <a href="#">Resources</a>
                          <div class="dropdown-item">
                            <div class="back js-back">
                              Back
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#" class="flag">Rate Benchmarking</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#" class="flag">Research</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Case Studies</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">Weekly Freight Update</a>
                            </div>
                          </div>
                        </li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li class="dropdown js-dropdown">
                          <a href="contact-us.html">About Us</a>
                          <div class="dropdown-item">
                            <div class="back js-back">
                              Back
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#" class="flag">Data Sources</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#" class="flag">Careers</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">In the News</a>
                            </div>
                            <div class="dropdown-item__link">
                              <a href="#">About Freightos</a>
                            </div>
                          </div>
                        </li>
                    </ul>
                </nav> 
                <div class="burger">
                  <div class="burger-line"></div>
                </div>                
            </div>                
            <div class="login">
                <a href="#" class="sign__in">Login</a>
                <a href="#" class="btn-secondary sign__up">Sign up</a>
            </div>                
        </div>
    </div>  
</header>

   
